.parent{background-color: rgb(50, 47, 47);
        height: 100vh;
        width:100vw;
        overflow-y:scroll;
        overflow-x:hidden;
        display: flex;
        display: grid;
        z-index: 1;
        row-gap: 5px;
        flex-wrap: wrap;}

  .child{background-color:black;
         
         z-index: 3;
        }   
         
    .child1{display: flex;        
            height: 100vh;
            width: 100vw;
            flex-wrap: wrap;
            background-image: url(./netflix.files/child\ 1\ background\ img.jpg);
            background-size: cover;
        position: relative;
         justify-content: center;
         
         }  
         .gradientinchild1{background-image: radial-gradient(transparent 5%,transparent 10%,rgba(14, 14, 14, 0.891) 65%);
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
         }

         .child1commentdiv{display: flex;
                           display: block;
                            
                           width: 900px;
                           height: 300px;
                            
                          text-align: center;
                             }
             .inputdiv{width: 900px; height: 56px;
                       display: flex;
                       justify-content:center;
                       
                       gap: 10px;
                        }

                .h1title{color: aliceblue;
                         font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
                         font-size: 40px;
                          font-weight:900;}     
                         
                .h3title{color: aliceblue;
                        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
                        font-size: 25px;
                        font-weight: 500;
                        }
                        
                .h4title{color: aliceblue;
                        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
                         font-size:25px;
                         font-weight: 500;
                        }        

            .getstarted{ background-color:rgb(229,9,20);
                        border: hidden;
                          width: 180px; height: 54px;
                        border-radius: 5px;
                        font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                        font-size: 25px;
                        font-weight: 500;
                         color: aliceblue;}
          .getstarted:hover{background-color:rgb(187, 16, 24) ;}            
                                    
         
           .input{height: 50px; width: 300px;
                  border-radius: 5px;
                  background-color: rgba(11, 10, 10, 0.645);
                 border: solid 1px rgb(157, 170, 182);
                 padding: 0px 10px;
                 color: aliceblue;
                  }   
          
          ::placeholder{color: rgba(209, 218, 225, 0.659);
                        font-size: larger;
                         font-weight: 500;}              
            
        .headdiv{
                 width: 80vw;
                height: 60px;
                 position: absolute;
                  top:20px;
               
                display: flex;
                align-items: center;}    

        .Netflixdiv{
                     width:200px;
                     height:50px;
                     }  
        .svgnetflix{ height:50px;
                    color:rgb(229,9,20);
                    fill: currentColor;
                 
                } 

        .headrightdiv{
                      position: absolute;
                       display: flex;
                      height: 50px;
                      width: 220px;
                      right: 10px;
                      align-items: center;}    
        select{width: 130px;
               height: 40px;
               font-weight: 600;
              color: beige;
              background-color: black;
              text-align:center;
               border-radius: 5px;
               } 
          .svglang{color: beige;
                position: absolute;
                   left: 10px;
                   top: 17px;
                 z-index: 10;   }  

         option{background-color: aliceblue;} 
              
         .h2div{color: aliceblue;}   
         
        .signinbutton{background-color: rgb(229,9,20);
                    /*  height: 35px;
                       width: 70px;*/
                       position: absolute;
                       right: 0px;
                        text-align: center;
                      padding:9px 13px;
                        border-radius: 10%;
                      color: aliceblue; } 
          .signinbutton:hover{background-color: rgb(187, 16, 24);}            

        

    .child2{display: flex;
            flex-wrap: wrap;
            height: 80vh;
            width: 100vw;
            position: relative;
            align-items: center;
           } 

       .tv1div{width: 500px;height: 350px;
               z-index: 5;
               position: absolute;
               right: 140px;
               display: flex;
              }
          

       .tv1png{z-index: 5;
               width: 476px;}  

       .tvscreen1{position: absolute;
                  
                  width: 348px;height: 194px;
                  top:72px;
                  left:62px;
                display: flex;}
        .tv1video{z-index: -1;
                 width: 100%; height: 100%;}
        
       
        .tv1comment{display: flex;
                   flex-wrap: wrap;
                   z-index: 5;
                   position: absolute;
                  left: 130px;
                  background-color: transparent;
                  display: block;
                  justify-content: center;
                  width: 450px;
                  height: fit-content;
                  padding: 10px;
                  overflow: hidden;
                  }

       .tv1h1{color: aliceblue;
              font-size: 40px;
              font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
              font-weight:1000;} 

              
       .tv1p{color: aliceblue;
             font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
             font-size: x-large;
             font-weight: 400;}           
            
            

    .child3{display: flex;
            height: 80vh;
            width: 100vw;
            flex-wrap: wrap;
            position: relative;
            align-items: center;} 
            
         .mobile1div{width: fit-content;
                     height: fit-content;
                      position: absolute;
                      left: 120px;
                      display: flex;
                      justify-content: center;}  
         .mobile1{background-size: cover;
                  z-index: 3;} 

        
         .mobile1minidiv{position: absolute;
                         background-color: black;
                         padding: 2px;
                         border: solid 2px gray;
                         width: 300px; height: 90px;
                         z-index: 5;
                         top: 270px;
                         border-radius: 10px;
                         display: flex;
                         }
         
        .mobile1minidivimg{position: absolute;
                         height:90px; width: 70px;
                         background-color:black;
                         z-index: 7;
                        left:5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                         }   
                       
                        
        .mobile1minidivcontent{position: absolute;
                               height: 90px; width:160px;
                              
                             left: 75px;
                             display: flex;
                             display: block;
                              
                              
                                }   
          
        .strangerh3{color: aliceblue;
                                font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                            font-weight: 1000;
                         }                
                         
        .strangerp{color: rgb(8, 89, 220);
                       }                  
                             
        .mobile1minidivdownload{position: absolute;
                                height: 90px; width:70px ;
                         background-color:black;
                        right: 5px;
                          display: flex;
                        z-index: 7;
                         justify-content: center;
                         align-items: center;} 
         
                   
                  
         .mobile1comment{display: flex;
                flex-wrap: wrap;
                z-index: 5;
                position: absolute;left: 650px;
                 width: 500px;
                background-color: transparent;} 
        .mobile1h1span{width: 400px;}        

        .mobile1h1{color: aliceblue;
                font-size: 40px;
                font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                font-weight:1000;}     
                
        .mobile1p{color: aliceblue;
                font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                font-size: x-large;
                font-weight: 400;}        

            
    .child4{display: flex;
            height: 80vh;
            width: 100vw;
            flex-wrap: wrap;
            position: relative;
            align-items: center;}  
             
        .child4bigscreen{
                         position: absolute;
                        width:600px;
                        height: 500px;
                        right: 150px;
                         display: flex;
                        align-items: center;
                        justify-content: center;
                        } 

        .tv2div{
                  width: 500px;
                  height:400px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
               }  
         .tv2screen{
                    width: 350px;
                height: 210px;
                position: absolute;
                top:43px;
                left: 83px;
                display: flex;
                }   
         .tv2video{position: absolute;
                right: 20px;
                width: 330px;height:fit-content;
                z-index: -1;}  
                
       .child4content{
                      width: 630px;
                       height: 250px;
                     display: flex;
                display: block;
              text-align: center;
               flex-wrap: wrap;} 

          .child4h1{color: aliceblue;
               font-size: 40px;
               font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
               font-weight:1000;  } 
          .child4ptag{color: aliceblue;
                font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                font-size: x-large;
                font-weight: 400;}      
            
    .child5{display: flex;
            width: 100vw;
            height: 80vh;
            flex-wrap: wrap;
            position: relative;
            align-items: center;
             }  

       .child5imgdiv{width:fit-content;
                     height: fit-content;
                  }   
                     
       .child5content{
                   width: 450px;
                    height: 300px;
                    display: flex;
                  display: block;
                 
                  flex-wrap: wrap;
                  position: absolute;
                  right: 150px;
                   }  
        .child5h1{color: aliceblue;
                font-size: 40px;
                font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                font-weight:1000;}
        
        .child5ptag{color: aliceblue;
                font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                font-size: x-large;
                font-weight: 400;}
            
   .child6{display: flex;
           height: 130vh;
           width: 100vw;
           position: relative;
          justify-content: center;
          align-items: center;
          
           } 

        .child6subdiv{width: max-content;
                      height: max-content;
                     
                      display: flex;
                      display: block;
                       justify-content: center;
                     }   
            
                
           .child6h1{position: relative;
                color: aliceblue;
                font-size: 50px;
                font-weight: 800;
                font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                 left: 170px; }
           .child6ptag{position: relative;
                     font-size: 20px;
                    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
                    left: 180px;
                    color: aliceblue;}

           
       .child6div{position: relative;
             
                  width: 1000px;
                height: 550px;
                 display: grid;
                 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                 gap: 5px;

                }  

         .child6mini{
                     padding: 10px 20px;
                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                     background-color: rgb(35, 33, 33);}    
                     
               .child6mini:hover{transition: 0.5s;
                                background-color: rgb(76, 72, 72);}      

        .child6inputdiv{position: relative;
                         
                       height: 56px;
                       display: flex;
                       justify-content:center;
                       
                       gap: 10px;} 

        .child6minicoments{font-size: 25px;
                           color: rgb(244, 244, 245);
                          font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;}  
                          
        .spanadd{font-size: 50px;
                   color:rgb(244, 244, 245) ;}                  
                       
                       
           
   .child7{ display: flex;
           height: 60vh;
           width: 100vw;
           position: relative;
           padding: 50px 200px;
          display: block;}   
           
           
   tr{color: rgb(166, 168, 171);
       text-decoration: underline;
      font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
      height: 50px;
      font-size: small;
      } 
    
   .child7div{ 
               width: 900px;} 
    .underline{text-decoration: underline;}           
   .number{color: rgb(166, 168, 171);
           display:flex;
          font-size:medium;
          align-items: center;
         font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
         gap: 5px;}  

     .svglang2{color: beige;
        position: relative;
           left: 10px;
           bottom: 30px;
          
         z-index: 10; }    
         
    .netflixp{color:rgb(166, 168, 171);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
     font-size: small;}     
           